# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build folders
dist
node_modules
coverage

# Test
src/e2e/videos
src/e2e/downloads
src/e2e/screenshots

# Other
.DS_Store
