$colors: (
  primary: (
    100: hsl(96, 50%, 90%),
    200: hsl(96, 50%, 80%),
    300: hsl(96, 50%, 70%),
    400: hsl(96, 50%, 60%),
    500: hsl(96, 50%, 50%),
    600: hsl(96, 50%, 40%),
    700: hsl(96, 50%, 30%),
    800: hsl(96, 50%, 20%),
    900: hsl(96, 50%, 10%),
  ),
  secondary: (
    100: hsl(200, 71%, 90%),
    200: hsl(200, 71%, 80%),
    300: hsl(200, 71%, 70%),
    400: hsl(200, 71%, 60%),
    500: hsl(200, 71%, 50%),
    600: hsl(200, 71%, 40%),
    700: hsl(200, 71%, 30%),
    800: hsl(200, 71%, 20%),
    900: hsl(200, 71%, 10%),
  ),
  error: (
    100: hsl(3, 72%, 90%),
    200: hsl(3, 72%, 80%),
    300: hsl(3, 72%, 70%),
    400: hsl(3, 72%, 60%),
    500: hsl(3, 72%, 50%),
    600: hsl(3, 72%, 40%),
    700: hsl(3, 72%, 30%),
    800: hsl(3, 72%, 20%),
    900: hsl(3, 72%, 10%),
  ),
  neutral: (
    50: hsl(0, 0%, 95%),
    100: hsl(0, 0%, 90%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 70%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
    800: hsl(0, 0%, 20%),
    900: hsl(0, 0%, 10%),
    950: hsl(0, 0%, 5%),
  ),
);
