@use "~/sass/abstracts" as abstracts;

.app-counter {
  display: grid;
  place-items: center;
  gap: var(--spacing);
  &__text {
    font-size: var(--fs-500);
    @include abstracts.mq(small) {
      grid-column: span 2;
    }
  }
  &__actions {
    display: flex;
    gap: var(--spacing);
  }
}
